<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LogIn</h1>
    <form action="/login" method="post">

        <hr>
        <input type="text" name="username"  required placeholder="username">
        <br>
        <br>
        <input type="password",required placeholder="password" name="password">
        <hr>
        <button type="submit">login</button>
    </form>
</body>
</html>